@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100dvh;
  height: 100vh;
  width: 100%;
}

.main--con {
  width: 100%;
  height: 100%;
}

.contact--con {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 600px);
  background-color: #fff;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  margin: 5rem auto;
  padding: 3rem;
}

.vid--con {
  /* border: 2px solid red; */
  height: 500px;
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
}
.vid--con > video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.rt--col {
  padding-left: 4rem;
}
:is(.rt--col) h1 {
  margin-bottom: 1rem;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
:is(.rt--col) p {
  font-size: 14px;
  font-family: "Courgette", cursive;
  padding-right: 5rem;
}

.form--content {
  margin-top: 2rem;
  height: auto;
  width: 100%;
  padding-right: 5rem;
}

.form--content > div {
  width: 100%;
  margin-top: 1.5rem;
  /* border: 1px solid; */
}
input {
  /* font-family: "Courgette", cursive; */
  width: 100%;
  height: 100%;
  padding: 0.8rem 1rem;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  background-color: hsla(0, 1%, 50%, 0.5);

  appearance: none;
  outline: none;
}
input::placeholder {
  text-transform: capitalize;
  font-size: 12px;
  color: hsla(0, 10%, 90%, 0.4);
}
textarea {
  width: 100%;
  border-radius: 5px;
  background-color: hsla(0, 1%, 50%, 0.5);
  border: none;
  resize: none;
  outline: none;
  padding: 0.8rem 1rem;
  /* font-family: "Courgette", cursive; */
  font-size: 12px;
}

#submit {
  width: 100%;
  display: inline-block;
  padding: 0.8rem;
  outline: none;
  border: none;
  background-color: hsla(10, 60%, 30%, 1);
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}
